html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.2rem;
  width: 2.2rem;
  background-color: white;
  background-size: cover;
  border: 2px solid #ddd;
}

.font-layout {
  font-family: Lora,georgia,serif;
  font-size: 1.8rem;
}

.table-font {
  font-size: 1.3rem;
}

.note-font {
  font-size: 1.5rem !important;
}

@media screen and (min-width: 480px) {
  .px-100 {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}


